* {
    font-family: Ubuntu, Verdana, sans-serif;
    margin: 10px;
    border: 1px solid #eee;
    padding: 5px;
    max-width: 1024px;
}

:root {
    --heading-background-color: #1A2A49;
    --heading-text-color: white;
    --heading-font: Sriracha, Tahoma, sans-serif;
    --font-text: Ubuntu, Verdana, sans-serif;
    --padding: 1rem;
    --border: 10px solid rgba(0 0 0 / 0.3);
}

.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}


.hero img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 2px solid white;
    padding: 5px;
    margin: 0 auto;
    background-color: #1A2A49;
    position: relative;
}

.h1 img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 0;
    box-shadow: 0 0 30px #5F9747;
    float: right;
    margin: 0 0 1rem 1rem;
}

/* Comments go down here */
/* https://coolors.co/palette/d15560-fb7e4e-fde829-5f9747-1a2a49 */