
.montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .courier-prime-bold {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .courier-prime-regular-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .courier-prime-bold-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: italic;
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}
:root {
    --heading-background-color: darkblue;
    --heading-text-color: black;
    --heading-font: Montserrat, Helvetica, sans-serif;
    --padding: 1rem;
    --border: 10px solid rgba(0 0 0 / 0.3);
}
h1 {
    color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    font-size: 1.8rem;
    padding: var(--padding);
    border-bottom: 5px solid darkblue;}

header,
body,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;

}

main {
    grid-column: 2/3;
    margin: 3px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 0;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;

}

aside img {
    width: 200px;
    height: auto;
    margin-bottom: 25px;
}

aside h2 {
    position: absolute;
    top: 175px;
    left: 100px;
}

p {
    margin: 1rem;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-top: 1px dashed black;


}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / 0.3);
    padding: 1rem;
    background-color: lightyellow;
    color: black;
}

.indent {
    padding-left: 2rem;
}