.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}

.courier-prime-bold {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "montserrat-regular", sans-serif;
    font-size: 16px;
}

:root {
    --heading-background-color: darkblue;
    --heading-text-color: black;
    --heading-font: "courier-prime-regular";
    --border: 10px solid rgba(33 0 0 / 0.3);
    --padding: 1rem;
}

header,
h1 {
    color: var(--heading-background-color);
    /* color: var(--heading-text-color); */
    font-family: var(--heading-font);
    font-size: 2rem;
    padding: var(--padding);
    border: 5px solid darkblue;
    justify-items: center;
    text-align: center;
}

body,
footer {
    margin: 5px auto;
    font-family: "montserrat-regular", sans-serif;
    padding: var(--padding)
}

form {
    margin: auto;
    padding: 1rem;
    border: var(--border);
    border-radius: 5px;
    background-color: lightyellow;
    display: grid;
    gap: 10px;
    margin: 5px;
}

fieldset {
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    background-color: lightyellow;
    display: grid;
    gap: 10px;
}

legend {
    font-family: var(--heading-font);
    font-size: 1.5rem;
    color: var(--heading-background-color);
    padding: 0.5rem;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input,
select,
textarea {
    font-size: 1.2rem;
    padding: 0.5rem;
}

input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: bottom;
}

button {
    font-family: var(--heading-font);
    margin: auto;
    background-color: var(--heading-background-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}
button:hover {
    background-color: #5F9747;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-top: 10px solid var(--heading-background-color);
}

.form-items {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: .25rem;
}

.required::after {
    content: " *";
    color: red;
    font-size: 1.2rem;
}