:root {
    --heading-background-color: darkblue;
    --heading-text-color: white;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgba(0 0 0 / 0.3);
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding);
}

main {
    max-width: 800px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 0;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20rem;
    margin: var(--padding);
    border: var(--border);
    padding: var(--padding);
    background-color: lightyellow;
    color: var(--heading-background-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}



p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px dashed black;
    text-align: center;
}