* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: darkblue;
    --heading-text-color: black;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgba(0 0 0 / 0.3);
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding);
}

main {
    max-width: 800px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 0;
    box-shadow: 0 0 30px gray;
    float: right;
}

aside {
    width: 20rem;
    text-align: center;
}

aside h2{
    position: relative;
    top: 185px;
}
aside img {
    width: 200px;
    height: auto;
    margin-bottom: 25px;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px dashed black;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / 0.3);
    padding: 1rem;
    background-color: lightyellow;
    color: black;
}